
			body{
				background-color: #4abdac;
				font-family: "Helonia", sans-serif;
				color: white;
				text-align: center;
			}
			h1{	
				font-size: 100px;
			}
			ul{	
				list-style-type: none;
				font-size: 50px;
				font-style: italic;
			}
			.grid{	
				white-space: nowrap;
  				display: inline;
 				margin-bottom: 8px;
 				margin-left: auto;
   				margin-right: auto;
			}
			img{
				height: 400px;
			}
			#clothes img{
				border: 10px solid #A6A6A6;
			}
			#accessories img{	
				border: 10px solid #747474;
			}
			#shoes img{	
				border: 10px solid #525252;
			}